@media (min-width: 992px) {
    #navMain {
        padding-top: 20px;
        padding-bottom: 20px;
        -webkit-transition: padding-top 0.5s ease-in-out, padding-bottom 0.5s;
        -moz-transition: padding-top 0.5s ease-in-out, padding-bottom 0.5s;
        transition: padding-top 0.5s ease-in-out, padding-bottom 0.5s;
        letter-spacing: 1px;
        background:  #f8f8ff ;
        border-bottom: 1px solid  #f8f8ff ;
        /* height: 70px; */
    }
    #navMain .nav-link.active {
        outline: none;
        background-color:  #f8f8ff  ;
    }
    #navMain .nav-link.active:hover {
        color: white;
        background-color: rgba(230, 210, 97, 0.637)
    }
    #navMain.navbar-shrink {
        padding-top: 10px;
        padding-bottom: 10px;
        background:  #f8f8ff ;
        border-bottom: 1px  #f8f8ff ;
    }
    #navMain.navbar-shrink a {
        color: rgba(0, 0, 0, 0.973);
    }
}
.nav-search {
    display: flex;
    justify-content: center;
}
header{
    height:100vh;
    margin-top:-1.5%;
}
.intro{
    position:absolute;
    top:35%;
    left:25%;
    right:25%;
    text-align: center;
    font-family: cursive;
    font-size:150%;
    text-align:center;
}

