{% extends 'base.html' %} 
{%block content%}
<div class="header">
        <div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">
                <!--Indicators-->
                <ol class="carousel-indicators">
                  <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
                  <li data-target="#carousel-example-2" data-slide-to="1"></li>
                  <li data-target="#carousel-example-2" data-slide-to="2"></li>
                </ol>
                
        
                <div class="carousel-inner" role="listbox">
                  <div class="carousel-item active">
                    <div class="view">
                      <img class="d-block w-100" src="/static/images/bg.jpeg" height="600px">
                      <div class="mask rgba-black-light"></div>
                    </div>
                   
                    <div class="intro">
                       
                            <h1 style="color: antiquewhite;text-align: center;" class="display-4">WELCOME!YOU CAN NOW READ AND REVIEW BOOKS..</h1>
                          
                            <h1 style="color: antiquewhite;text-align: center;" class="display-4">WHAT'S YOUR FAVOURITE BOOK COLLECTION?</h1>
                            <h1 style="color: antiquewhite;text-align: center;" class="display-4">SIGN UP NOW!!</h1>
                            <a href="{{url_for('auth.register')}}" type="button" class="btn btn-info " style="width:150px;font-size: 17px;" >SIGN UP</a>
                          
                        </div>
                  </div>
                  <div class="carousel-item">
                    <!--Mask color-->
                    <div class="view">
                      <img class="d-block w-100" src="/static/images/bg2.jpeg" height="600px">
                      <div class="mask rgba-black-strong"></div>
                    </div>
                    <div class="intro">
                            
                        
                        <h1 style="color: antiquewhite;text-align: center;" class="display-4">WELCOME!YOU CAN NOW READ AND REVIEW BOOKS..</h1>
                        
                        </div>
                  </div>
                  <div class="carousel-item">
                    <!--Mask color-->
                    <div class="view">
                      <img class="d-block w-100" src="/static/images/bg3.jpeg" height="600px">
                      <div class="mask rgba-black-slight"></div>
                    </div>
                    <div class="intro">
                            
                        <h1 style="color: antiquewhite;text-align: center;" class="display-4">WELCOME!YOU CAN NOW READ AND REVIEW BOOKS..</h1>
                        </div>
                  </div>
                </div>
            </div>
        
{%endblock%}