<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="navMain">
      <div class="container">
          <a class="smooth-scroll" href="/"><i class="fa fa-search"></i></a>
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
              aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
              <i class="fa fa-bars"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
              <div class="container-fluid">
                  <div class="row">
                      <div class="col-md-12 nav-search">
                            <h2>awwards</h2>
                      </div>
                  </div>
              </div>
              
          </div>
          <ul class="navbar-nav navbar-right">
                <li class="nav-item" style="font-size:18px;">
                        <a class="nav-link" href="#">
                            <i class="fa fa-sign-in"></i> Log In</a>
                    </li>
                <li class="nav-item" style="font-size:18px;">
                            <a class="nav-link" href="#">
                                <i class="fa fa-registered"></i> Register</a>
                     </li>    
             <li class="nav-item" style="font-size:18px;">
                            <a class="btn btn-info" href="#">
                            SUBMIT YOUR SITE!</a>
                 </li>              
         </ul>
      </div>
</nav>
